:root {
    --bg-color: #fff;
    --font-color: #222;
    --black: #222;
}

* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--font-color);
    background: var(--bg-color);

    height: 100vh;
}

ul {
    font-family: 'Open Sans','Helvetica Neue', Helvetica, sans-serif;
    font-size: 4.5vw;
    list-style-type: none;
    margin-bottom: 1rem;
}

ul li:first-child {
    padding-bottom: 1.2rem;
    position: relative;
    left: -1rem;
    font-family: 'Roboto Slab', serif;
    font-weight: 600;
}

ul li {
    padding: 0.2rem;
}

@media only screen and (min-width: 500px) {
    ul {
        font-size: 2.7vh;
    }
}