* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	background: #eee;
	color: #223;
	font-family: Roboto, Arial, sans-serif;
}

strong {
	font-weight: 600;
}

h1 {
	font-size: inherit;
}

li {
	list-style-type: none;
}

ul {
	margin-bottom: 1.5vh;
}

.container {
	width: 100vw;
	height: 100vh;

	display: grid;
	grid-template-rows: 10vh 1fr 15vh;
	grid-template-columns: repeat(3, 1fr);
	grid-template-areas: "header header header"
						 "main main main"
						 "footer footer footer"
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: "Roboto Slab";
	grid-area: header;
}

ion-icon[name='menu'] {
	color: #223;
	font-size: 3vh;
	margin: 4vh;
}

.site-title {
	font-size: 2.2vh;
	margin: 4vh;
}

#workout {
	padding: 6vh;
}

.indent {
	padding-left: 2vh;
}

main {
	font-size: 2vh;
	display: flex;
	justify-content: center;
	align-items: center;

	grid-area: main;
}