/* -----------
    variables
   ----------- */

:root {
  --accent: #666;
  --black: #222;
  --lg-window: 2 / 4;
}

/* ---------------
    global styles
   --------------- */

* {
  margin: 0;
  padding: 0;
}


:focus {
  outline: none;
}

body {
  color: var(--black);
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: center;
}

h1, h2, h3, h4, h5, h6, p, li {
  color: inherit;
  font-size: inherit;
}

ul {
  padding-bottom: 1rem;
  list-style: none;
}

ul:last-child {
  padding: 0;
}

li {
  font-size: .9rem;
}

/* --------
    layout
   -------- */

/* layout.grid */

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 100px 1fr 80px;
  height: 100vh;
}

/* layout.header */

header {
  grid-column: 1 / 5;
  grid-row: 1; 
  background: #fff;
  border-bottom: 1px solid #ccc;
  margin: 0 2rem;
}

header h1.primary-heading {
  font-size: 1.2rem;
}

/* layout.nav */

.navbar li.collection-item {
  color: var(--accent);
  cursor: pointer;
  text-transform: lowercase;
  margin-left: 1rem;
}

.navbar li.active {
  border-bottom: 2px solid #666;
}

/* layout.main */

main {
  grid-column: 1 / 5;
  grid-row: 2; 
}

footer {
  box-sizing: border-box;
  grid-column: 1 / 5;
  grid-row: 3;
}

/* ---------------
    media queries
   --------------- */

@media (min-width: 600px) {
  header {
    grid-column: var(--lg-window);
  }

  main {
    grid-column: var(--lg-window);
  }

  footer {
    grid-column: var(--lg-window);
  }
}

/* ------------
    components
   ------------ */

a.btn {
  box-sizing: border-box;
  background: var(--accent);
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 1.2rem;
  height: 4rem;
  width: 97%;
}

/* -----------------
    flexbox classes 
   -----------------*/

.flex {
  display: flex;
}

.flex.column {
  flex-direction: column;
}

.flex.y-center {
  align-items: center;
}

.flex.x-center {
  justify-content: center;
}

.flex.xy-center {
  align-items: center;
  justify-content: center;
}

.flex.space-evenly {
  justify-content: space-evenly;
}

.flex.space-between {
  justify-content: space-between;
}

/* --------------------
    interactive styles 
   -------------------- */

