* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  color: inherit;
  font-size: inherit;
}

ul {
  padding-bottom: 1rem;
}

ul:last-child {
  padding: 0;
}

.site-header,
.site-content,
.site-footer {
  box-sizing: border-box;
}

/* variables */

:root {
  --accent: #5ac18e;
  --lg-window: 2 / 4;
}

/* styles */

.collection {
  list-style: none;
}

/* section tags */

header {
  grid-column: 1 / 5;
  grid-row: 1; 
  background: #fff;
  border-bottom: 1px solid #ccc;
  color: #000;
  margin: 0 2rem;
}

main {
  grid-column: 1 / 5;
  grid-row: 2; 
}

footer {
  box-sizing: border-box;
  grid-column: 1 / 5;
  grid-row: 3;
}

/* media queries */

@media (min-width: 600px) {
  header {
    grid-column: var(--lg-window);
  }

  main {
    grid-column: var(--lg-window);
  }

  footer {
    grid-column: var(--lg-window);
  }
}

/* container */

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 100px 1fr 80px;
  height: 100vh;
}

/* header */

.primary-heading {
  font-size: 1.1rem;
  margin: .5rem;
}

/* nav */

.navbar {
  width: 300px;
}
.navbar .collection {
  color: #aaa;
}

.navbar .collection .collection-item {
  cursor: pointer;
  text-transform: lowercase;
}

/* footer */

a.btn {
  box-sizing: border-box;
  background: var(--accent);
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 1.2rem;
  height: 4rem;
  width: 97%;
}

/* flex */

.flex {
  display: flex;
}

.flex.column {
  flex-direction: column;
}

.y-center {
  align-items: center;
}

.x-center {
  justify-content: center;
}

.xy-center {
  align-items: center;
  justify-content: center;
}

.y-bottom {
  align-items: flex-end;
}

.space-evenly {
  justify-content: space-evenly;
}

/* interactive styles */

.active {
  color: var(--accent);
}